<!DOCTYPE html>
<h1>Trivia Trainer</h1>
<html lang="en" ng-app="trivia-trainer" ng-init"getarticles()">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trivia Trainer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title">
</head>

<body>

    <nav class="center-align">
        <a class="btn" ui-sref="users">HOME</a>
        <a class="btn" ui-sref="">STUDY GUIDE</a>
        <a class="btn" ui-sref="">ARTICLES</a>
        <a class="btn" ui-sref="">USERS</a>
    </nav>

      <section class="container-fluid">
    <h1 class='text-primary'>Random Articles!</h1>
    <p> This site will display random articles using the wiki API.
    </p>

    <a href="https://en.wikipedia.org/wiki/Special:Random">New Article</a>




  </section>



 <script src="js/articles.js"></script>


    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>-->
    <!--<script src="js/app.bundle.js"></script>-->
</body>

</html>
