<div class="container">
    <h2>{{$ctrl.userEntry.username}}'s Trivia Trainer Page</h2>
    <p>ID: {{$ctrl.userEntry._id}}</p>
    <p>Name: {{$ctrl.userEntry.first_name}} {{$ctrl.userEntry.last_name}}</p>
    <p>Email: {{$ctrl.userEntry.email}}</p>
    <button class="btn" ng-click="visible = true">Edit</button>
    <span><a ui-sref="users">
    <button class="btn" ng-click="$ctrl.deleteUser($ctrl.userEntry._id)">Delete</button>
    </a></span>
    <a ui-sref="trivia"><button class="btn">TRIVIA</button></a>
    <button class="btn" ng-click="$ctrl.showStudyGuide($ctrl.userEntry._id)">Study Guide</button>

    <div ng-show="visible" class="container">
        <div class="card">
            <div class="card-content">
                <form ng-submit="$ctrl.updateUserInformation($ctrl.userEntry._id)">
                    <div>First Name <input type="text" ng-model="$ctrl.userEntry.first_name"></div>
                    <div>Last Name <input type="text" ng-model="$ctrl.userEntry.last_name"></div>
                    <div>User Name <input type="text" ng-model="$ctrl.userEntry.username"></div>
                    <div>Email<input type="text" ng-model="$ctrl.userEntry.email"></div>
                    <div><input class="btn" type="submit" ng-click="visible = false" value="Update User Entry"></div>
                </form>
            </div>
        </div>
    </div>
</div>