body {
  background-image:url('https://static.vecteezy.com/system/resources/previews/000/101/241/non_2x/free-abstract-background-4-vector.jpg');
  background-size:cover;
  background-repeart:no-repeat;
  text-align:center;
}
h1 {
  font-size:80px;
  font-family:'Baloo', cursive;
  color: rgb(0, 0, 0);
}

h2 {
    font-size:45px;
    font-family:'Sansita', cursive;
    color: rgb(0, 0, 0);
}

h4 {
    font-size:40px;
    font-family: 'Merriweather', serif;
}

button {
    Font-size: 20px;
    background-image: url("http://www.clker.com/cliparts/x/u/B/A/8/Z/white-background-gold-button-hi.png");
    background-size: cover;
}

p {
  font-size:23px;
  color: black;
}

form {
    display: inline-block;
    text-align: center;
    color: rgb(0, 0, 0);
}

button.btn{
    color: rgb(0, 0, 0);
}

input.btn {
    color: rgb(0, 0, 0);
  }

li {
    list-style-type: none;
    font-size:40px;
    color: rgb(0, 0, 0);
}
input.btn {
    background: url("http://www.clker.com/cliparts/x/u/B/A/8/Z/white-background-gold-button-hi.png")
}
div.newuser {
    color: rgb(0, 0, 0);
}
div.questions {
    font-size:40px
    font-family: 'Merriweather', serif;
    color: rgb(0, 0, 0);
}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
}

