<div>
<section id="users">
<!-- All your code goes inside this <section> -->

  <h1>This is the Users Page</h1>
  


  <!--<button ng-click='$ctrl.getQuote()'>Get Swansonized</button>

  <ul>
    <li>{{$ctrl.quote}}</li>
  </ul>
  <button ng-click='$ctrl.saveQuote()'>Save as Favorite</button>
<hr>
  <h3>See All my saved quotes</h3>
  <ol class='quote-list'>
    <li ng-repeat='quote in $ctrl.favoriteQuotes'>
      {{quote.quote}}
       <button ng-click="$ctrl.deleteQuote(quote)">X</button>
    </li>
  </ol>-->
</section>
</div>
