<div>
  <section id="questions">

    <!-- All your code goes inside this <section> -->

    <h1>
      <h2>{{$ctrl.questionList.title}}'s Questions</h2>
    </h1>
    <br>
    <ol>
      <li ng-repeat='question in $ctrl.questionList.question'>
      </li>
    </ol>

    <hr>
    <button ng-show='!visible' class="btn" ng-click='visible = true'>Add A New Question</button>
    <div class="card" ng-show='visible'>
      <div class="card-content">
        <form ng-submit="$ctrl.addNewQuestion()">
          <div>Question <input type="text" ng-model="$ctrl.newQuestion.question"></div>
          <div>Answer <input type="text" ng-model="$ctrl.newQuestion.answer"></div>
          <div>Topic <input type="text" ng-model="$ctrl.newQuestion.topic"></div>
          <div>Difficulty <input type="text" ng-model="$ctrl.newQuestion.difficulty"></div>
          <button class="btn" type="submit" ng-click="visible = !visible" value="Create">Add Question</button>
        </form>
      </div>
    </div>
  </section>

  <h3>{{$ctrl.newQuestionQuestion}}</h3>

</div>
