<div>
  <section id="studyGuides">
    <!-- All your code goes inside this <section> -->

    <h1>Users Study Guide Page</h1>

    <form ng-submit="$ctrl.addNewStudyGuide()">
        <h1>STUDY GUIDE</h1>
         <!--<button class="btn" ng-click="$ctrl.vm.newStudyGuideTitle(users._id)">Study Guide</button>-->
          <!--<div>First Name<input type="text" ng-model="$ctrl.vm.newStudyGuideTitle(users._id)" required></div>-->
          <!--<div>Last Name <input type="text" ng-model="$ctrl.newUserLastName" required></div>
          <div>User Name<input type="text" ng-model="$ctrl.newUserUsername"></div>
          <div>Email<input type="text" ng-model="$ctrl.newUserEmail"></div>
          <div><input class="btn" type="submit" value="Add New User"></div>-->
    </form>

  <!--<ol>
    <li ng-repeat='users in $ctrl.userEntries'>
      <h4>{{users.username}}</h4>
       <button class="btn" ng-click="$ctrl.showUser(users._id)">Show User</button>
    </li>
  </ol>-->
</section>
</div>



