div>
<section id="studyGuides">
    <!-- All your code goes inside this <section> -->
    <span ng-click='visible = false'>
        <button class="btn" ng-click='$ctrl.getTrivia()'>Get A Question</button>
    </span>

    <h1>This is the Study Guide Page</h1>

    <form ng-submit="$ctrl.getAllStudyGuides()">
        <hr>STUDY GUIDE</h1>

    </form>

    <!--<ol>
    <li ng-repeat='users in $ctrl.userEntries'>
      <h4>{{users.username}}</h4>
       <button class="btn" ng-click="$ctrl.showUser(users._id)">Show User</button>
    </li>
  </ol>-->
</section>
</div>